.average-bottom-space {
  margin-bottom: 150px;
}
.btn-orange {
  background: #ff9900;
  font-size: 18px;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
.btn-white {
  background: white;
  font-size: 18px;
  color: #89B774;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
.primary-color {
  color: #89B774;
}
.secondary-color {
  color: #ff9900;
}
.tertiary-color {
  color: #888C04;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #89B774;
}
body a {
  text-decoration: none;
}
body h1 {
  font-size: 60px;
}
body h2 {
  font-size: 30px;
}
.container {
  background: white;
  margin: 0 auto;
  width: 90%;
  line-height: 2em;
  padding-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}
.top-section {
  width: 100%;
  display: flex;
  margin-bottom: 150px;
}
@media (max-width:800px) {
  .top-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.top-section .top-left {
  padding-top: 50px;
}
@media (max-width:800px) {
  .top-section .top-left {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.top-section .top-left section {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}
.top-section .top-left section h1 {
  font-size: 40px;
  color: #808080;
  line-height: 1.5;
}
.top-section .top-left section .sub-text {
  color: #ADADAD;
  margin: 15px 0 0 100px;
  font-size: 1.2em;
  line-height: 1.5;
  width: 70%;
}
@media (max-width:800px) {
  .top-section .top-left section .sub-text {
    margin: 0;
    margin-top: 15px;
    text-align: center;
    width: auto;
  }
}
.top-section .top-left section .join {
  text-align: center;
}
.top-section .top-left section .join button {
  background: #ff9900;
  font-size: 18px;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  margin-left: 120px;
}
@media (max-width:800px) {
  .top-section .top-left section .join button {
    margin-left: 0;
  }
}
.top-section .top-right {
  text-align: center;
  width: 70%;
}
@media (max-width:500px) {
  .top-section .top-right {
    width: auto;
  }
}
.top-section .top-right img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1100px) {
  .top-section .top-right img {
    width: 450px;
  }
}
@media (max-width: 1000px) {
  .top-section .top-right img {
    width: 400px;
  }
}
@media (max-width:800px) {
  .top-section .top-right img {
    border-radius: 10px;
    text-align: Center;
    width: inherit;
    margin-top: 100px;
  }
}
@media (max-width:500px) {
  .top-section .top-right img {
    width: 300px;
  }
}
.top-left header {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
@media (max-width:500px) {
  .top-left header {
    justify-content: space-between;
    padding-right: 20px;
    position: relative;
  }
}
.top-left header .hamburger {
  display: none;
}
@media (max-width:500px) {
  .top-left header .hamburger {
    display: block;
  }
}
.top-left header .hamburger .ham {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.top-left header nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
@media (max-width:500px) {
  .top-left header nav {
    display: none;
  }
}
.top-left header nav a {
  text-decoration: none;
  color: #ADADAD;
  justify-content: space-around;
}
@media (max-width:500px) {
  .top-left header nav a {
    padding: 10px;
  }
}
.top-left header nav a:hover {
  color: #89B774;
  font-weight: bold;
}
.top-left header #logo {
  height: 50px;
  width: 50px;
}
.hidden {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  flex-direction: column;
  margin-top: 90px;
  background: red;
}
.mid-section {
  width: 100%;
  margin-bottom: 150px;
}
.mid-section .mid-top {
  line-height: 1.2em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 70px;
}
@media (max-width:500px) {
  .mid-section .mid-top {
    width: auto;
    padding: 0 20px;
  }
}
.mid-section .mid-top h2 {
  color: #89B774;
  font-size: 30px;
  line-height: 1.2em;
}
.mid-section .mid-top p {
  font-size: 22px;
  color: #707070;
  margin-top: 30px;
  line-height: 1.5em;
}
.mid-section .mid-bottom {
  margin-bottom: 150px;
}
.mid-section .mid-bottom .card-container {
  display: flex;
  color: #707070;
  justify-content: space-around;
  align-items: stretch;
  padding: 0 20px;
}
@media (max-width: 1100px) {
  .mid-section .mid-bottom .card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width:500px) {
  .mid-section .mid-bottom .card-container {
    justify-content: center;
  }
}
.mid-section .mid-bottom .card-container .card {
  box-shadow: 2px 2px 2px silver;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
}
@media (max-width: 1000px) {
  .mid-section .mid-bottom .card-container .card {
    max-width: 300px;
    margin-bottom: 50px;
  }
}
@media (max-width:800px) {
  .mid-section .mid-bottom .card-container .card {
    max-width: 300px;
    margin-bottom: 50px;
  }
}
.mid-section .mid-bottom .card-container .card i {
  font-size: 3em;
}
.mid-section .mid-bottom .card-container .card img {
  width: 100px;
}
.mid-section .mid-bottom .card-container .card h3 {
  font-size: 21px;
  margin: 30px;
}
.mid-section .mid-bottom .card-container .card p {
  font-size: 18px;
}
.mid-section .mid-bottom .card-container .mid-card {
  margin: 0 20px;
  background: #89B774;
  color: white;
}
.mid-down {
  margin-bottom: 150px;
}
.mid-down .mid-down-top {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .mid-down .mid-down-top {
    width: 75%;
  }
}
.mid-down .mid-down-top h2 {
  text-align: center;
}
.mid-down .mid-down-top p {
  margin: 35px 0;
  font-size: 20px;
}
.mid-down .stats-container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
@media (max-width: 1100px) {
  .mid-down .stats-container {
    justify-content: space-evenly;
  }
}
@media (max-width:800px) {
  .mid-down .stats-container {
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
  }
  .mid-down .stats-container .stat1 {
    order: 3;
    flex-grow: 3;
  }
  .mid-down .stats-container .stat2 {
    order: 1;
    flex-grow: 3;
  }
  .mid-down .stats-container .stat3 {
    order: 3;
    flex-grow: 3;
  }
}
@media (max-width:500px) {
  .mid-down .stats-container {
    flex-direction: column;
    padding: 0;
  }
}
.mid-down .stats-container .stats {
  color: #ff9900;
  font-size: 30px;
  line-height: 2em;
  text-align: center;
  padding: 20px;
}
@media (max-width:800px) {
  .mid-down .stats-container .stats {
    width: 300px;
  }
}
@media (max-width:500px) {
  .mid-down .stats-container .stats {
    text-align: center;
  }
}
.mid-down .stats-container .stats button {
  background: #ff9900;
  font-size: 18px;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
@media (max-width:500px) {
  .mid-down .stats-container .stats2 {
    display: block;
  }
  .mid-down .stats-container .stats2 img {
    width: 300px;
  }
}
.better {
  background: #89B774;
  width: 75%;
  color: white;
  border-radius: 10px;
  margin: 100px auto;
  padding: 70px 100px;
}
@media (max-width: 1100px) {
  .better {
    width: 50%;
  }
}
@media (max-width:800px) {
  .better {
    width: 80%;
    padding: 20px;
  }
}
@media (max-width:500px) {
  .better {
    padding: 0;
    width: 85%;
    padding: 20px;
  }
}
.better .better-top {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1100px) {
  .better .better-top {
    width: auto;
  }
}
.better .better-top h2 {
  text-align: center;
  font-size: 30px;
}
.better .better-top p {
  font-size: 20px;
  margin: 150px 0;
}
@media (max-width: 800px) {
  .better .better-top p {
    margin: 50px 0;
  }
}
.better .better-bottom {
  display: flex;
  justify-content: center;
  width: 700px;
  margin: 0px auto;
  align-items: baseline;
}
@media (max-width: 1100px) {
  .better .better-bottom {
    width: auto;
  }
}
@media (max-width:500px) {
  .better .better-bottom {
    flex-direction: column;
  }
}
.better .better-bottom .bbp {
  font-size: 20px;
  width: 50%;
}
@media (max-width:800px) {
  .better .better-bottom .bbp {
    width: auto;
    padding: 20px;
  }
}
@media (max-width:500px) {
  .better .better-bottom .bbp {
    width: auto;
    margin-bottom: 50px;
  }
}
.better .better-bottom .bbp .farmshare {
  font-weight: bold;
  font-size: 25px;
}
.feedback-container {
  margin-bottom: 150px;
}
.feedback-container h2 {
  width: 300px;
  margin-left: 200px;
  margin-bottom: 50px;
}
@media (max-width:800px) {
  .feedback-container h2 {
    width: auto;
    margin-left: 0;
    text-align: center;
  }
}
.feedback-container .feed-holder {
  display: flex;
  padding: 0 50px;
  justify-content: center;
}
@media (max-width:800px) {
  .feedback-container .feed-holder {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
}
@media (max-width:500px) {
  .feedback-container .feed-holder {
    flex-direction: column;
    padding: 0;
  }
}
.feedback-container .feed-holder .feed-card {
  width: 250px;
  margin: 0 20px;
  padding: 45px;
  border-radius: 15px;
  border: 1px solid #f5f5f5;
  box-shadow: 8px 8px 8px 8px #f5f5f5;
}
@media (max-width: 1100px) {
  .feedback-container .feed-holder .feed-card {
    max-width: 300px;
  }
}
@media (max-width:800px) {
  .feedback-container .feed-holder .feed-card {
    width: 400px;
  }
}
@media (max-width:500px) {
  .feedback-container .feed-holder .feed-card {
    width: auto;
    box-shadow: 4px 4px 4px 4px #f5f5f5;
  }
}
.feedback-container .feed-holder .feed-card .feed-top {
  display: flex;
  margin-bottom: 20px;
}
.feedback-container .feed-holder .feed-card .feed-top img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.feedback-container .feed-holder .feed-card .feed-top .credentials {
  margin-left: 30px;
}
.feedback-container .feed-holder .feed-card .feed-top .credentials h4 {
  color: #89B774;
  font-weight: bold;
}
.feedback-container .feed-holder .feed-card .feed-top .credentials p {
  font-size: 22px;
}
.feedback-container .feed-holder .feed-card .feed-quote p {
  font-size: 20px;
}
.invest {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 300px;
  box-shadow: 8px 8px 8px 8px #f5f5f5;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 150px;
}
@media (max-width: 1050px) {
  .invest {
    width: 600px;
  }
}
@media (max-width:800px) {
  .invest {
    width: 400px;
  }
}
@media (max-width:500px) {
  .invest {
    width: 90%;
  }
}
.invest button {
  background: #89B774;
  font-size: 18px;
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
footer .nav-container {
  width: inherit;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 1100px) {
  footer .nav-container {
    width: 85%;
  }
}
@media (max-width:500px) {
  footer .nav-container {
    width: auto;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
footer .nav-container .footer-nav {
  display: flex;
  justify-content: space-evenly;
}
footer .nav-container .footer-nav .nav-col {
  margin: 0 40px;
}
@media (max-width:800px) {
  footer .nav-container .footer-nav .nav-col {
    margin: 0 10px;
  }
}
footer .nav-container .footer-nav .nav-col h4 {
  color: #808080;
  font-weight: bold;
  padding-right: 20px;
}
footer .nav-container .footer-nav .nav-col nav {
  display: flex;
  flex-direction: column;
}
footer .nav-container .footer-nav .nav-col nav a {
  margin: 20px 0;
  text-align: left;
  color: #89B774;
}
footer .nav-container .contact {
  width: auto;
  padding: 20px;
  background: #89B774;
  border-radius: 15px;
}
@media (max-width:500px) {
  footer .nav-container .contact {
    margin-bottom: 70px;
  }
}
footer .nav-container .contact .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
footer .nav-container .contact .cont p {
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
}
footer .nav-container .contact .cont button {
  background: white;
  font-size: 18px;
  color: #89B774;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
@media (max-width:800px) {
  footer .nav-container .contact .cont button {
    padding: 10px;
  }
}
footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
footer .copy img {
  width: 50px;
  height: 50px;
}
.about-container {
  height: 100%;
  background: white;
}
.about-container header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  box-shadow: 8px 8px 8px silver;
  margin-bottom: 50px;
}
.about-container header img {
  width: 50px;
  height: 50px;
}
.about-container header nav {
  margin-right: 30px;
}
.about-container header nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #89B774;
  font-size: 1.3em;
}
.about-container .main {
  display: flex;
  align-items: stretch;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .about-container .main {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about-container .main .cont {
  width: 50%;
}
@media (max-width: 850px) {
  .about-container .main .cont {
    width: 80%;
  }
}
.about-container .main .about-left .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.about-container .main .about-right {
  background: white;
  padding: 40px;
  border-radius: 15px;
}
.about-container .main .about-right h2 {
  text-align: center;
  margin-bottom: 20px;
}
.about-container .main .about-right p {
  font-size: 1.5em;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #808080;
}
.about-container .main .about-right p .indent {
  margin-left: 30px;
}
.lost {
  background: red;
  position: absolute;
}
