.better {
    background: @lightGreen;
    color: white;
    border-radius: 10px;
    width:90%;
    margin:0 auto;
    padding-bottom:40px;
    margin-bottom:100px;

    @media @tablet {
    }

    @media @mobile {
    }
  
    .better-top {
  
      h2 {
        text-align:center;
        padding-top:70px;
      }
  
      p {
        width:55%;
        margin:0 auto;
        margin-top:50px;

        @media @mobile {
          width:90%;
        }
      }
    }
  
    .better-bottom {

      @media @mobile {
        flex-direction:column;
       // justify-content: center;
      }

      .better-img{
        text-align:center;
        margin:50px 0;
        img{
          width:55%;

          @media @mobile {
            width:90%;
          }
        }
      }

      .steps{
        .flex(row, space-around, baseline);
        width:80%;
        margin:0 auto;

        @media @mobile {
          flex-direction:column;
        }
      }

      .bbp {
        margin:0 5px;

        @media @mobile {
          margin-bottom:25px;
        }
      }
    }
  }