.invest {
  .flex(row, center, center);
    
    text-align: center;
    width:70%;
    height: 300px;
    box-shadow: 8px 8px 8px 8px #f5f5f5;
    margin: 0 auto;
    border-radius: 15px;
    .average-bottom-space();
  
    button {
      .btn(@lightGreen, white);
      margin-top: 20px;
    }
  }