.top-section{
    display:flex;
    font-family:sans-serif;

    .top-left{
        padding-top:50px;
        section{
            width:80%;
            margin:0 auto;
            margin-top:80px;
            h1{
                font-size:40px;
                color:@midGray;
                line-height:1.5
            }
            .sub-text{
                color:@lightGray;
                margin:15px 0 0 100px;
                font-size:1.2em;
                line-height:1.5;
                width:70%;
    
            }
            .join{
                text-align:center;
                button{
                    .btn();
                }
            }
        }
    }


    .top-right{
        width:40%;

        img {
            position:static;
            max-width: 100%;
            
        }
    }

}

.mid-section{
    .mid-top{
        line-height:1.2em;
        text-align:center;
        width:50%;
        margin:120px auto;


        h2{
            color:@lightGreen;
            font-size:30px;
        }

        p{
            font-size:22px;
            color:#707070;
            margin-top:30px;
            line-height:1.5em;
        }
    }

    .mid-bottom{

        .card-container{
            display:flex;
            justify-content:center;
            color:#707070;


            .card{
                width:23%;
                box-shadow:2px 2px 2px silver;
                padding:30px;
                border-radius:10px;

                img{
                    width:100px;
                }

                h3{
                    font-size:21px;
                    margin:30px;
                }

                p{
                    font-size:18px;
                }

            }
            .mid-card{
                margin:0 20px;
                background:@lightGreen;
                color:white;
            }
        }
    }
}

.mid-down{
    margin-top:150px;

    .mid-down-top{
        width:50%;
        margin:0 auto;

        h2{
            text-align:center;
        }

        p{
            margin:35px 0;
            font-size:20px;
        }
    }

    .stats-container{
        display:flex;
        justify-content:center;
        align-items:center;

        .stats{
            color:@deepGreen;
            font-size:30px;
            line-height:2em;
            width:25%;
            padding:20px;

            button{
                .btn();
            }
        }
    }
}


.better{
    background:@lightGreen;
    width:75%;
    color:white;
    border-radius:10px;
    margin:100px auto;
    padding:70px 100px;

    .better-top{
        width:700px;
        margin:0 auto;
        text-align:center;
        h2{
            text-align:center;
            font-size:30px;
        }
    
        p{
            font-size:20px;
            margin:150px 0;
        }
    }

    .better-bottom{
        display:flex;
        justify-content: center;
        width:700px;
        margin:0px auto;
        align-items:baseline;
        .bbp{
            font-size:20px;
            width:50%;

            .farmshare{
                font-weight:bold;
                font-size:25px;
            }
        }
    }

}

.feedback-container{

    h2{
        width:300px; 
        margin-left:200px;
        margin-bottom:50px;
    }

    .feed-holder{
        display:flex;

        .feed-card{
            width:350px;
            padding:45px;
            border-radius:15px;
            border:1px solid silver;

            .feed-top{
                display:flex;
                margin-bottom:20px;
                img{
                    width:80px;
                    height:80px;
                    border-radius:50%;
                }

                .credentials{
                    margin-left:20px;
                    h4{
                        color:@lightGreen;
                        font-weight:bold;
                    }
                    p{
                        font-size:22px;
                    }
                }
            }

            .feed-quote{
                p{
                    font-size:20px;
                }
            }
        }
    }
}
