.top-left {
  .dropdown {
    display: flex;
    align-items: center;
    padding-left: 50px;

    @media @mobile{
      justify-content: space-between;
      padding-right:20px;
      position:relative;
    }

    .hamburger {
      display:none;

      @media @mobile{
        display: block;
      }
      .ham {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
    }

    
    .menu {
      display:flex;
      justify-content: space-around;
      width: 90%;
      z-index:50;
      
      @media @mobile {
        display:none;
        position:absolute;
        left:0;
        width:100%;
        flex-direction:column;
        margin-top:68px;
        background:@deepGreen;
        color:white;

        a{
          color:white;
          
        }
      }
      
      a {
        text-decoration: none;
        color: @lightGray;
        justify-content: space-around;
        @media @mobile {
          padding:10px;
          color:white;
          
        }
        
        &:hover {
          color: @lightGreen;
          font-weight: bold;
        }
      }
    }
    .active{
      display:flex;
    }
  }
}
