.mid-section {
    width: 100%;
    .average-bottom-space();
    .mid-top {
      line-height: 1.2em;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 70px;

      @media @mobile {
        width:auto;
        padding:0 20px;
      }
  
      h2 {
        color: @lightGreen;
        font-size: 30px;
        line-height: 1.2em;
      }
  
      p {
        font-size: 22px;
        color: #707070;
        margin-top: 30px;
        line-height: 1.5em;
      }
    }
  
    .mid-bottom {
      .average-bottom-space();
      .card-container {

        .flex(row, space-around, stretch);
        
        color: #707070;
        
        
        padding: 0 20px;
        @media (max-width: 1100px) {
          flex-wrap: wrap;
          align-items: center;
        }
  
        @media @mobile {
          justify-content:center;
        }
  
        .card {
          box-shadow: 2px 2px 2px silver;
          border-radius: 10px;
          width: 250px;
          padding: 20px;

          &:hover{
             transform:scale(1.1);
             transition: 1.5s ease;
  
           // background:red;
          }
          .card-img{
            text-align:center;
          }
  
          @media (max-width: 1000px) {
              max-width: 300px;
              margin-bottom: 50px;
            }
  
  
          @media @tablet {
            max-width: 300px;
            margin-bottom: 50px;
          }
  
          
  
          img {
            width: 100px;
          }

          #finger{
            color:@lightGreen
          }
  
          h3 {
            font-size: 21px;
            margin: 30px 0;
          }
  
          p {
            font-size: 18px;
          }
        }
        .mid-card {
          background: @lightGreen;
          color: white;
        }
      }
    }
  }